* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(90deg, rgb(5, 35, 35) 2px, transparent 1%) center, linear-gradient(rgb(5, 35, 35) 2px, transparent 1%) center, rgb(54, 16, 16);
  background-size: 4px 4px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #dadada;
}
a:hover {
  color: rgb(137, 137, 137);
}

h6 {
  color: rgb(137, 137, 137);
}

li {
  list-style: none;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

hr {
  background: rgb(137, 137, 137);
}

.escritorio {
  display: none;
}
.escritorio p {
  color: rgb(137, 137, 137);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  padding: 10vw;
  color: rgb(137, 137, 137);
}
main h2 {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  margin-bottom: 0.5rem;
  color: #dadada;
}
main p {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .navbox, .menu-lineas, .menu-items, .menu__desplegable, .hamburger-lines, .checkbox, .line, .line1, .line2, .line3 {
    display: none;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding: 0;
  }
  h3 {
    font-size: 1.7rem;
    font-weight: normal;
  }
}
.navbox {
  width: 100%;
  height: 14.4vh;
}
.navbox .menu__desplegable {
  top: 3.5vh;
  display: block;
  position: relative;
  height: 60px;
  z-index: 99;
}
.navbox .menu__desplegable .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.navbox .menu__desplegable .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.navbox .menu__desplegable .hamburger-lines .line {
  display: block;
  height: 2px;
  width: 70%;
  border-radius: 0px;
  background: #dadada;
}
.navbox .menu__desplegable .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.navbox .menu__desplegable .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.navbox .menu__desplegable .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.navbox .menu__desplegable .menu-items {
  padding-top: 120px;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background: linear-gradient(90deg, rgb(5, 35, 35) 2px, transparent 1%) center, linear-gradient(rgb(5, 35, 35) 2px, transparent 1%) center, rgb(54, 16, 16);
  background-size: 4px 4px;
}
.navbox .menu__desplegable .menu-items li {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
}
.navbox .menu__desplegable input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}
.navbox .menu__desplegable input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.navbox .menu__desplegable input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.navbox .menu__desplegable input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.navbox .menu__desplegable input[type=checkbox]:checked ~ .logo {
  display: none;
}
.navbox .menu-lineas {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}
.navbox .menu__desplegable a {
  text-decoration: none;
  color: #dadada;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .nav__escritorio {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
  }
}
.titulo {
  position: absolute;
  top: 5vh;
  right: 15vw;
  font-size: 1rem;
}
.titulo a {
  color: #dadada;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .titulo-escritorio {
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
  }
  .titulo-escritorio a {
    color: #dadada;
  }
}
.seccion__horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}

@media (min-width: 768px) and (orientation: landscape) {
  .seccion__horizontal {
    justify-content: space-around;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .seccion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal;
    min-height: 601px;
    width: 800px;
    margin-right: 5vw;
  }
  .seccion__horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 601px;
    width: 800px;
    margin-right: 5vw;
  }
  .seccion__texto {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    padding: 5vh;
  }
  .seccion__texto p {
    max-width: 450px;
  }
  .seccion__texto--bio {
    max-width: 300px;
  }
}
@media (min-width: 1440px) and (orientation: landscape) {
  .seccion {
    width: 1200px;
  }
  .seccion__horizontal {
    width: 1200px;
  }
}
.galeria, .galeria__series, .galeria__series--posters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}
.galeria__series, .galeria__series--posters {
  grid-template-columns: 1fr;
}
@media (min-width: 768px) and (orientation: landscape) {
  .galeria__series, .galeria__series--posters {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .galeria, .galeria__series, .galeria__series--posters {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .galeria__series, .galeria__series--posters {
    grid-template-columns: 1fr 1fr;
  }
}
.foto, .foto__bio, .foto__vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(49, 48, 48, 0.859);
  box-shadow: 0px 0px 3px 3px;
  width: 70vw;
}
.foto__vertical {
  height: 65vw;
  width: auto;
}
.foto__bio {
  box-shadow: none;
  width: auto;
  height: auto;
}
.foto__bio img {
  max-width: 240px;
}

@media (min-width: 768px) and (orientation: landscape) {
  .foto, .foto__vertical, .foto__bio {
    width: 35vw;
  }
  .foto__vertical {
    width: 20vw;
    height: auto;
  }
}
.tarjeta, .tarjeta__contacto {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.tarjeta__contacto {
  min-width: 300px;
}
.tarjeta__contacto p {
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.footer__logos {
  margin: 1.5rem;
  height: 2rem;
  width: 6rem;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .footer__logos {
    margin-top: 5vh;
  }
}
.carousel {
  display: flex;
  align-items: center;
  height: 65vh;
}

@media (min-width: 768px) and (orientation: landscape) {
  .carousel {
    max-width: 680px;
  }
  .carousel-inner {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .carousel {
    margin-right: 5vw;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .mapa {
    margin-top: 5vh;
  }
  .newsletter {
    display: flex;
    margin: 1rem;
  }
  .newsletter p {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
