$color-principal: #dadada;
$color-secundario:  rgb(137, 137, 137);
$color-terciario: rgba(49, 48, 48, 0.859);

$dot-size: 2px;
$dot-space: 4px;

$bg-color: rgb(5, 35, 35);
$dot-color:  rgb(54, 16, 16);

@mixin flex($direction, $justify, $align,){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin grid($columns, $gap, $align,){
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;
    align-items: $align;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background:
            linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
            linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
            $dot-color;
        background-size: $dot-space $dot-space;
    }

img{
    max-width:  100%;
}
a{
    text-decoration: none;
    color: $color-principal;
    &:hover{
        color: $color-secundario;
    }
}
h6{
    color: $color-secundario;
}
li{
    list-style: none;
    font-weight: bold;
}

h3{
    font-size: 1.1rem;
    font-weight: bold;
}
hr{
    background: $color-secundario;
}

.escritorio{
    display: none;
    & p{
        color: $color-secundario;
    }
}
main{
    @include flex(column, normal, center);
    padding: 10vw;
    color: $color-secundario;

    & h2{
        @include flex(column, normal, center);
        margin-bottom: 0.5rem;
        color:$color-principal;
    }
    & p{
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
    }
}

@media (min-width: 1024px) and (orientation:landscape) {

    .navbox, .menu-lineas, .menu-items, .menu__desplegable, .hamburger-lines, .checkbox, .line, .line1, .line2, .line3 {
        display: none;
}
    main{
        @include flex(row, space-around, start);
        padding: 0;
    }
    h3{
        font-size: 1.7rem;
        font-weight: normal;
    }
}