.colecciones{ 
    display: grid;
    grid-template-columns: 1fr ;
    gap: 2rem;
}


@media (min-width: 1024px) and (orientation:landscape) {

    .colecciones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;

        &__galeria{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            align-items: center;
        }
    }

}