@media (min-width: 768px) and (orientation:landscape) {
    .main__index{
        justify-content: space-around;

        &--escritorio{    
            display: flex;
            align-items: center;
        }
    }

    }
    @media (min-width: 1024px) and (orientation:landscape) {
        .main__index {
            &--margin{
                margin-right: 5vw;
    }
}
}