@media (min-width: 768px) and (orientation:landscape) {
    .main__index{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

    @media (min-width: 1024px) and (orientation:landscape) {
        .main__index {
            height: 590px;
            margin-right: 5vw;
    }
}
