.tarjeta{
    @include flex(column, normal, center);
    & p{
        @extend .tarjeta;
        max-width: 350px;
    }

    &__contacto{
        @extend .tarjeta;
        min-width: 300px;
    
        & p{
            margin: 0;

        }
    }

}
@media (min-width: 768px) and (orientation:landscape) {
    .tarjeta{
        & p{
            max-width: 450px;
        }
}
}