.footer {
    display: flex;
    flex-direction: column;    
    align-items: center;

    &__logos{
        margin: 1.5rem;
        height: 2rem;
        width: 6rem;
    }
}

@media (min-width: 1024px) and (orientation:landscape) {
    .footer{
        &__logos{
        margin-top: 5vh;
    }
}
}