.galeria{ 
    @include grid(1fr 1fr, 2rem, center,);
&__series{
    @extend .galeria;
    grid-template-columns: 1fr ;

    &--posters{
        @extend .galeria__series;
    }
}
}
@media (min-width: 768px) and (orientation:landscape) {
.galeria{ 
&__series{
    grid-template-columns: 1fr 1fr;
    }
}
}
@media (min-width: 1024px) and (orientation:landscape) {

.galeria{
    grid-template-columns: 1fr 1fr 1fr ;

&__series{
    grid-template-columns: 1fr 1fr;

    &--posters{
        @extend .galeria
        }
    }
}
}