.navbox {
    width: 100%;
    height: 14.4vh;
/* box-shadow: 0 1px 4px rgb(146 161 176 / 15%);*/
}

.menu-lineas {
    max-width: 1050px;
    width: 90%;
    margin: auto;
}

.navbox .menu__desplegable a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}


.menu__desplegable {
    top: 3.5vh;
    display: block;
    position: relative;
    height: 60px;
    z-index: 99;
}

.menu__desplegable .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.menu__desplegable .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu__desplegable .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 70%;
    border-radius: 0px;
    background: #0e2431;
}

.menu__desplegable .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.menu__desplegable .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.menu__desplegable .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.menu__desplegable .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 2000px rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.menu__desplegable .menu-items li {

    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.menu__desplegable input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.menu__desplegable input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.menu__desplegable input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.menu__desplegable input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
.menu__desplegable input[type="checkbox"]:checked ~ .logo{
    display: none;
}

@media (min-width: 1024px) and (orientation:landscape) {
.nav__escritorio{
    display: flex;
    flex-direction:column;
    margin-top: 15vh;
}
}