.seccion{

    &__horizontal{
        @include flex(column, center, normal)
}
}

@media (min-width: 768px) and (orientation:landscape) {
    .seccion{
    &__horizontal{
        justify-content: space-around;
    }
    }
}
@media (min-width: 1024px) and (orientation:landscape) {
    .seccion{
        @include flex(column, space-evenly, normal);
        min-height: 601px;
        width: 800px;
        margin-right: 5vw;

        &__horizontal{
            @include flex(row, space-evenly, center);
            height: 601px;
            width: 800px;
            margin-right: 5vw;
        }

        &__texto{
            @include flex(column, normal, center);
                padding: 5vh;
                    & p{
                        max-width: 450px;
                }
            

            &--bio{
            max-width: 300px;
            }
        }
}
}
@media (min-width: 1440px) and (orientation:landscape) {
.seccion{
    width: 1200px;

    &__horizontal{
        width: 1200px;
    }
}
}